*{
margin:0;
padding:0;
font-family: 'Times New Roman', Times, serif;
box-sizing: border-box;
}

.navbar{
background-color: black	;
height: auto;
}

.img{
padding:8px;
}

nav{
  
  display:flex;
  width: 84%;
  margin:auto;
  align-items: center;
  justify-content: space-between;

}

nav ul li {
  display:inline-block;
  list-style: none;
  margin:8px 12px;
  position: relative;
}  

.navbar ul li a{
  text-decoration: none;
  color:#C70039;
  font-size: 20px;
}
 
 
.navbar a:hover {
  background-color: #ddd;
  color: #070707 ;
}
.section1{
  background-image:url("./images/portfolio.png");
  background-size:cover;
  width:100%;
  height: 100%;
  position:absolute;
}
  .navbar a.active {
  background-color: #7c757c	;
  color:  #FFFFFF;
}


.intro{
  margin-left: 8%;
  margin-top: 20%;
}

.intro h1{
  font-size: 50px;
  color:#FFFFFF;
  margin-bottom:20px 0px 20px;
}

h3{
  font-style: italic;
  color:#FFFFFF;
  font-size:35px;
  line-height:40px;
}
span{
  color:#c70000
}
/*----start about section---*/
.section2{
  background-color: black;
  width: 100%;
  padding:100px ;
}

.image{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-around;
}
 .image img{
  width: 450px;
  height:400px;
  position: relative;
  border-radius:50%;
  overflow:hidden;
  transition:all, 0.2s ease-in,2s;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 250px;}
}
.text h2{
  color:#f9f295;
  font-size:55px;
  margin-bottom:5%;;
}
.text h3{
  font-size:45px;
  margin-bottom:5%;
}
.text p{
  flex-wrap: wrap;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#FFFFFF;
  letter-spacing: 4px;
  line-height:25px;
  font-size:20px;
}
/*----end about section-----*/

/*----start services section-----*/
.container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  justify-content: center;
  color:#ddd;
}
.service {
  font-size:40px;
  padding:20px;
  color:#f5f824;
  font-size: 60px;
  width: 1130px;
  text-align: center;
  margin-left: 13%;
}
label,form img{
  float:left;
}

.card{
  height:365px;
  width:350px;
  padding:20px 35px;
  background:#23211E;
  border-radius:30px;
  position:relative;
  margin:20px;
  overflow:hidden;
  text-align:center;
}


h4{
  color:#e47ab3	;
  font-size:30px;
  font-style: italic;
  margin-bottom:20px;
}
.button{
  background-color: #C70039;
  color:#FFFFFF;
  border-radius:20px;
  text-decoration:none;
  border:1px solid transparent;
  font-size:18px;
  padding:8px 20px ;
  transition: .4s;
}
.button:hover{
  cursor:pointer;
  border:2px solid goldenrod;
  background-color:#9F2B68	;
}

.content{
   padding-top: 30px;
   line-height: 40px;
   font-weight: bold;
   
}
/*----service page end---*/
/*----contact page start---*/
.section3{
  background-color: black;
  width: 100%;
  height: 100vh;
  padding:100px;
  display:block;
  align-items:center;
  justify-content:center;
}

 h2{
  padding-bottom: 30px;
  color:gold;
  width:80%;
  text-align:center;

}

input,textarea{
  border-radius:4px;
  font-size:20px;
  width:100%;
  color:rgb(24, 22, 22);
  padding:10px;
  background-color:white;
}
input{
  margin-bottom:20px;
}
label{
  color:white;
  font-size:22px;
}


button{
  width:100%;
  border:2px solid rgb(15, 16, 15);
  font-size:22px;
  padding: 14px ;
  margin: 35px 0;
  border: none;
  border-radius:6px;  
  cursor:pointer;
}
button:hover {
  background-color:#95bb72;
}
.contact{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.contact.input{
  flex-basis:50%;
}  
    /* For Responsive Page: */
     .navbar1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color:skyblue;
  }
    
    .navbar1 li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
  }
    
    .navbar1 li a.active {
      background-color:aqua;
      color: white;
  }
    
    .navbar1 li a:hover:not(.active) {
      background-color:#3925cd;
      color:white;
    }
   .navbar1{ 
     display: none;
     background-color:black;

    }
  
  .navbar{
    display: block;
  }
@media only screen and (max-width:650px) {
  .navbar{
    display:none;
  }
  .navbar1{
    display: block;
  }
  .container,.image{
    grid-template-columns: 1fr;
  }
  
}
@media only screen and (min-width:1000px){
  #contact-container{
    max-width:900px;
  }
  
  
}
